<tr>
  <td><%= f.text_field :meta_key, label: false %></td>
  <td><%= f.text_field :meta_value, label: false %></td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
</tr>