<div class="container">
  <div class="row col-lg-12">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @role.name %>
    </p>

    <p>
      <strong>Hidden status:</strong>
      <%= @role.hide %>
    </p>

    <%= link_to 'Edit', edit_role_path(@role) , class: 'btn btn-info col-md-2 btn-sm' %> 
  </div>
</div>
